.main {
  background-color: #302121;
  margin: 0;
}
.players-cards {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}

.left-cards {
  gap: 4rem;
}

.player {
  display: flex;
  border: 5px solid black;
  gap: 15px;
  align-items: center;
  margin-bottom: 7rem;
  max-height: 200px;
  background: rgba(255, 255, 255, 0.05); /* subtle see-through */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px); /* glassmorphism effect */
  padding: 1rem;
 
}

.player:hover {
  transform: translateY(-2px);
}

.player.right {
  align-items: right;
}

.player.left {
  padding-right: 100px;
}

.profile img {
  border-radius: 200px;
  height: 204px;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  left: -100px;
  top: 2px;
  border: 5px solid black;
}

.profile-right img {
  border-radius: 200px;
  height: 204px;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  right: -110px;
  top: 2px;
  border: 5px solid black;
}


.info-right h2,
.info-left h2 {
  font-family: "Kavoon", cursive;
  gap: 5px;
  color: white;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 50px;
}

.info-left {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
  left: -75px;
  color: white;
}
.info-right {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
  right: -75px;
  color: white;
}

.rank {
  height: 60px;
  width: auto;
  display: block;
}

.info-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.info-1 p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.flag {
  height: 20px;
  outline: auto;
  margin-left: 5px;
}

.champs {
  display: flex;
  gap: 15px;
}
.champs img {
  border-radius: 5px;
  height: 50px;
  border: 4px solid black;
}

.right {
  text-align: right;
}
.label {
  font-family: "Kavoon", cursive;
}

.right-cards {
  margin-top: 7rem;
}

.role {
  height: 40px;
}

.ruined-prince {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Team-photos/Players-background/Ruined-prince.webp);
}

.pho3nix {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Team-photos/Players-background/Pho3Nix-background.webp) center center / cover no-repeat;
}

.aldra1n {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Team-photos/Players-background/Aldra1n.jpg) center center / cover no-repeat;
}

.foxsy {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Team-photos/Players-background/Foxsy.jpg) ;
}

.fuuss {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Team-photos/Players-background/Fuuss.jpg) ;
}
.undeadsoldier {
    background: linear-gradient(rgba(248, 137, 137, 0.5), rgba(0, 0, 0, 0.5)),
    url(Team-photos/Players-background/Undeadsoldier.jpg) center center / cover no-repeat;
}
.jacob {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Team-photos/Players-background/Jacob.jpg) center center / cover no-repeat;    
}

.fight {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Team-photos/Players-background/fight.jpg) center center / cover no-repeat;    
}

.k-iraa {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(Team-photos/Players-background/Silvik.jpg) center center / cover no-repeat;    
}

body {
 background: #e0e0e0; /* slightly darker gray */
}


